@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  --sidebar-clr: rgb(78, 151, 217);
  --font-clr-light: white;
  --font-clr-dark: black;
}
* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 200vh;
  font-family: "Roboto", sans-serif;
}

.container a {
  font-weight: bold;
  color: white;
  text-decoration: inherit;
}

.sidebar {
  background-color: var(--sidebar-clr);
  color: var(--font-clr-light);
  width: auto;
}

.sidebar a {
  font-size: 20px;
}

.icon {
  filter: invert(100%);
  height: auto;
}

.sidebar-header-container {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  gap: 4px;
  margin: 10px 0px 0px 10px;
  height: 30px;
  align-items: center;
  width: 300px;
}

.sidebar-header-container span {
  grid-column: 2 / span 2;
  font-size: 60px;
}

.atom-icon {
  grid-column: 1 / span 1;
}
.sidebar-content-container {
  margin: 50px 0px 0px 20px;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  gap: 15px;
}

.sidebar-content-container > div img {
  width: 25px;
}

.messages-icon {
  width: 22px !important;
}
.sidebar-content {
  display: grid;
  grid-template-columns: 45px 45px;
  align-items: center;
  font-weight: bold;
}

.bottom-row-1 {
  grid-row: 8;
}

.bottom-row-2 {
  grid-row: 9;
}

.bottom-row-3 {
  grid-row: 10;
}

.notifications-btn,
.search-bar-icon {
  width: 25px;
  border: none;
  background-color: white;
}

.notifications-btn:hover {
  cursor: pointer;
}

.notifications-btn:active {
  padding: 1px 1px 1px 1px;
}

.bell-icon {
  filter: none !important;
  width: 20px;
}

.search-bar-input {
  background-color: rgb(232, 237, 246);
  border: none;
  border-radius: 14px;
  height: 30px;
  width: 400px;
  grid-column: 2 / span 15;
  padding-left: 10px;
}

.search-bar-input:focus {
  opacity: 50%;
}

.main-user-icon-img {
  border-radius: 50px;
  width: 90px;
}
.user-icon-img,
.secondary-icon-user-btn {
  width: 65px;
  height: 65px;
  border-radius: 40px;
  background-color: white;
  border: white;
}

.secondary-icon-user-btn:hover {
  cursor: pointer;
}

.user-login-name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

.top-main-container {
  margin: 30px 0px 0px 0px;
  display: grid;
  grid-template-columns: 800px 1fr 400px;
  gap: 190px;
  height: 50px;
  align-items: center;
}

.main-content-container {
  display: flex;
  flex-direction: column;
}

.main-content-container > div {
  width: 100%;
}

.search-container {
  margin-left: 60px;
  display: grid;
  grid-template-columns: 20px 200px;
  gap: 30px;
  height: 30px;
  width: 730px;
  align-content: center;
}

.notifications-btn {
  grid-column: 1;
}
.control-menu {
  margin-top: -10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 60px 60px 300px;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  height: 40px;
  grid-column: 3 / span 2;
}

.control-menu span {
  margin-left: 30px;
}

.user-container {
  display: grid;
  grid-template-columns: repeat(14, 3fr);
  box-shadow: 0px 14px 8px -9px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 130px;
}

.left-user-container {
  margin: 5px 0px 0px 30px;
  display: grid;
  grid-area: 1;
  grid-template-columns: 80px 330px;
  gap: 15px;
  margin-top: 20px;
}

.right-user-container {
  gap: 50px;
  display: grid;
  grid-column: 11 / span 2;
  grid-template-columns: 80px 80px 80px;
  margin-top: 5px;
  margin-bottom: 30px;
  align-items: center;
}

.welcome-user-content {
  grid-row: 1 / span 2;
  margin: 20px;
}
.welcome-user-content p {
  margin-bottom: 5px;
}
.welcome-user-content h3 {
  font-size: 1.4rem;
}
.main-user-icon-img {
  grid-row: 1;
}

.user-btn {
  border-radius: 40px;
  width: 100px;
  height: 43px;
  border: none;
  background-color: rgb(78, 151, 217);
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
}

.user-btn:hover {
  cursor: pointer;
}

.tab-content-container {
  background-color: rgb(232, 237, 246);
  height: 200vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

.project-container {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-rows: 20px repeat(3, 310px);
  grid-template-columns: repeat(3, 370px);
  gap: 40px;
}

.announce-container {
  grid-column: 5 / span 2;
  display: grid;
  grid-template-rows: 20px 340px 20px 300px;
  gap: 20px;
}

.tab-content-container > div {
  margin: 30px 0px 0px 20px;
}

.project-headers {
  opacity: 80%;
}

.project-card {
  background-color: white;
  border-radius: 12px;
  grid-row: 2;
  display: grid;
  grid-template-columns: 20px auto;
  transition: 0.2s ease-in;
}

.project-card {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  display: grid;
}

.card-border {
  background-color: rgb(235, 187, 59);
  width: 10px;
  height: 100%;
  border-radius: 16px 0px 0px 16px;
  grid-row: 1;
  transition: 0.1s ease-in;
}

.project-card:hover .card-border {
  width: 12px;
}
.project-card:hover {
  box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.1);
  transform: perspective(3000px) rotateX(5deg);
  cursor: pointer;
}

.card-content {
  margin-top: 20px;
  margin-left: 30px;
}

.card-content p {
  opacity: 60%;
  margin: 5px 70px 5px -15px;
  font-size: 14px;
}

.card-content h3 {
  margin: 10px 5px 5px -15px;
}

.card-content-btn-container {
  margin-top: 140px;
  margin-left: 160px;
  display: grid;
  grid-template-columns: repeat(3, 50px);
}

.card-btn {
  border: none;
  background-color: white;
  width: 23px;
}

.card-btn:hover {
  cursor: pointer;
}

.card-3 {
  grid-column: 3;
}

.card-4 {
  grid-row: 3;
}

.card-5 {
  grid-row: 4;
}

.announcement-card {
  background-color: white;
  height: 330px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in;
}

.announcement-card a {
  color: black;
}

hr {
  border: 1px solid rgba(224, 224, 224, 0.726);
  margin-top: 20px;
}

.announce-text {
  margin: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

.other-user-container {
  margin: 30px 0px 0px 30px;
  display: grid;
  align-items: center;
  grid-template-columns: 50px 200px;
  gap: 20px;
}

.other-user-container img {
  grid-column: 1;
}

.other-user-container a,
p {
  margin-top: 5px;
  grid-column: 2;
}

.other-user-container p {
  opacity: 40%;
}

.announcement-card:hover {
  box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.1);
  transform: perspective(3000px) rotateX(5deg);
  cursor: pointer;
}
